<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Factors</h2>

    <p><%= if @y==[] do %><%= @x %> does not have prime factors <%= else %><%= @x %> prime factors are <%= Enum.join(@y,", ") %><% end %></p>
  </div>
</div>

